@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap');
/*
Fonts:
- Poppins: 300,400,600,700,800
-Rubik: 300,400,500,600
*/

:root{
    --primary-color:#ff6b6b;
    --secondary-color:#794afa;
    --secondary-dark-color:#453c5c;

    --wihte-color:#ffffff;
    --light-bg-color:#f2f3f5;
    --light-text-color:#7c899a;
    --border-color:#e5e8ec;
    --dark-color:#0a021c;
    
    --font-small:13px;
    --font-smaller:11px;

    --percent100:100%;
    --percent50:50%;

    --fw3:300;
    --fw5:500;
    --fw6:600;
    --fw7:700;
    --fw8:800;

    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color:  color .3s;
}




/* ---------------------
* 1.HEADER
*-----------------------*/

:where(.off-canvas, header) li > a {
    display: flex;
    position: relative;
    line-height: inherit;
    transition: var(--trans-color);
}

    /* 01.HEADER---------------------
    * a.Header Top
    *-----------------------*/
    .header-top .wrapper {
        font-size: var(--font-small);
        font-weight: var(--fw3);
        justify-content: space-between;
        line-height: 42px;
    }
    .header-top .wrapper ul {
        gap: 2em;
    }
    .header-top li{
        position: relative;
    }
    .header-top ul ul {
        position: absolute;
        left: -1em;
        line-height: 2em;
        background-color: var(--white-color);
        border: 1px solid var(--border-color);
        z-index: 1;
        display: none;
    }
    :where(.header-top, .thetop-nav) .right ul ul li a {
        padding: 0.25em 1em;
    }
    :where(.header-top, .thetop-nav) .right ul ul li.current a {
        background-color: var(--border-color);
    }
    .header-top li:hover ul {
        display: block;
    }


/*0.1. HEADER -------------------------------
*  e. Responsive MENU - Off Canvas
---------------------------*/
.site-off {
    position: fixed;
    width: 320px;
    height: var(--percent100);
    background-color: var(--wihte-color); 
    overflow-y: auto;
    z-index: 1000;
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform .4s, visibility .4s;
    will-change: transform, visibility;
}
.showmenu .site-off {
    transform: translateX(0);
    visibility: visible;
    transform: transform .4s 0s, visibility 0s 0s;

}

.off-canvas {
    width: var(--percent100);
    width: var(--percent100);
    touch-action: auto;
    padding: 1.5em;
}

.off-canvas .canvas-head {
    color: var(--white-color);
    justify-content: space-between;
    padding: 1.5em;
    margin: -1.5em -1.5em 1.5em; /* add -1.5em 1.5em 51:25*/
    background-color: var(--secondary-dark-color);
    border-bottom-right-radius: 160px 25px;
}
.off-canvas .canvas-head .logo {
    z-index: 10;
    position: relative;
}

.off-canvas .canvas-head .logo .circle{ /*remove .locg -- add .circle 51:55*/
    opacity: 0.75 ;
}
.t-close {
    font-size: 1.25em;
    width: 32px;
    height: 32px;
    border-radius: var(--percent50);
    background-color: var(--secondary-dark-color);
    color: var(--wihte-color);
    transition: var(--trans-background-color);
}
.t-close:hover {
    background-color: var(--wihte-color);
    color: var(--secondary-dark-color);
    opacity: .75 ;
}

.off-canvas .dpt-head {
    font-size: var(--font-small);
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    background-color: var(--light-bg-color);
    border-radius: 7px 7px 0 0;
}
.off-canvas .has-child > :where(ul, .mega) {
    font-size: var(--font-small);
    font-weight: var(--fw3);
    line-height: 28px;
    padding-left: 3em;

    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.off-canvas .expand > :where(ul, .mega) {
    max-height: 2000px;
}


.off-canvas .thetop-nav ul, .off-canvas nav > ul {
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--font-small);
    line-height: 36px;
    padding-top: 1.25em;
    margin: 1.25em 0;
    border-top: 1px solid var(--border-color);/*if we want to change the color of the slider or the space between*/
}
.off-canvas nav .mega {
    padding: 0;
}
.off-canvas nav .mega .products {/*missing .mega*/
    display: none;
}
.off-canvas .has-child .icon-small {
    padding: 0.5em;
    line-height: initial;
}
.off-canvas .dpt-menu .icon-small i {
    transform: rotate(90deg);
}
.off-canvas .has-child{
    width: var(--percent100);
}
.off-canvas .thetop-nav .right > ul > :where(:nth-child(4), li:nth-child(5)) > a {
    display: none;
}
.off-canvas .thetop-nav .right ul ul {
    display: flex;
    flex-direction: row;
}
.off-canvas .thetop-nav .right ul ul li a {
    padding: 0.5em;
    border: 1px solid var(--border-color);
    line-height: 16px;
    margin: 0 0.5em 0.5em 0;
}
